# Ignore tous les fichiers
*

# Ne pas ignorer les répertoires (nécessaire pour traverser les sous-dossiers)
!*/

# Ne pas ignorer les fichiers Python
!*.py


#/Biblio
#/Meetings
#/UsuefulPlots
#/Simulations
#/Software

#/Analysis/Archive
#/Analysis/SimData
#/Analysis/Plots



#!/GenerateSims
#!/GenerateSims/Scripts
#/GenerateSims/Scripts/GenerateLayout/Plots
#/GenerateSims/Scripts/GenerateLayout/Plots/*
#/GenerateSims/Docs
#/GenerateSims/Sketch
