/Biblio
/Meetings
/UsuefulPlots
/Simulations

!/Analysis/*.py

/Analysis/Data
/Analysis/SimData
/Analysis/Backup
/Analysis/Plots

!/GenerateSims
!/GenerateSims/Scripts
/GenerateSims/Scripts/GenerateLayout/Plots
/GenerateSims/Scripts/GenerateLayout/Plots/*
/GenerateSims/Docs
/GenerateSims/Sketch
